version: 2.1

jobs:
  build:
    working_directory: ~/myapp
    docker:
      - image: node:16-alpine
    steps:
      - checkout
      - run: docker build .
      - run: npm run test
workflows:
  build_and_test:
    jobs:
      -build      


  
    
