version: 2.1

jobs:
  build:
    working_directory: ~/myapp
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run: 
          command: npm install --save
      - run:
          command: npm run build
      - run: 
          command: npm run test
workflows:
  build_and_test:
    jobs:
      - build      


  
    
