version: 2.1

jobs:
  build:
    working_directory: ~/myapp
    docker:
      - image: node:16-alpine
    steps:
      - checkout
      - run: npm install
      - run: npm run start
workflows:
  build_and_test:
    jobs:
      - build      


  
    
